/* NEBULA MART — product page */

/* former inline styles */
.u-93e37d {
    width: 72%
}

.u-100829 {
    width: 20%
}

.u-0aad7a {
    width: 5%
}

.u-c40096 {
    width: 2%
}

.u-f162d0 {
    width: 1%
}