/* NEBULA MART — shop page */

/* former inline styles */
.u-c3675b {
    background: #17133A
}

.u-bce28e {
    background: #3DB9FF
}

.u-1499e0 {
    background: #FF4D6D
}

.u-ae393f {
    background: #19D3A2
}

.u-e84188 {
    background: #FFFFFF
}

.u-621cf1 {
    background: #FF8FB1
}